    #entrada {

        background: url(/images/fundo-entrada.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 622px;
        overflow: hidden;
        position: relative;

    }

    .btn-purple { 
        border: 0; 
        color: #FFF;
        border-radius: 60px;
        background-color: #451F55;
        width: 323px;
        height: 62px;
        font-size: 29px!important; 
        text-transform: none;
    }

